<div class="mt-4 input-group d-flex justify-content-center">
  <div class="col-10 text-wrap">
    <% if !@room_chat.nil? %>
      <%= f.text_area :room_chat, placeholder: "コメントを送信", class:"form-control form-control-sm" %>
    <% elsif !@group_chat.nil? %>
      <%= f.text_area :group_chat, placeholder: "コメントを送信", class:"form-control form-control-sm" %>
    <% elsif !@game_comment.nil? %>
      <%= f.text_area :game_comment, placeholder: "コメントを送信", class:"form-control form-control-sm" %>
    <% elsif !@goods_comment.nil? %>
      <%= f.text_area :goods_comment, placeholder: "コメントを送信", class:"form-control form-control-sm" %>
    <% end %>
  </div>

  <% if comment.id.nil? %>
    <div>
      <% if !@room_chat.nil? || !@group_chat.nil? %>
        <%= button_tag method: :post do %>
          <i class="fa-solid fa-square-caret-up"></i>
        <% end %>
      <% elsif !@game_comment.nil? || !@goods_comment.nil? %>
        <%= button_tag method: :post do %>
          <i class="fa-solid fa-square-caret-down"></i>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div>
      <% if !@room_chat.nil? || !@group_chat.nil? %>
        <%= button_tag method: :patch do %>
          <i class="fa-solid fa-square-caret-up"></i>
        <% end %>
      <% elsif !@game_comment.nil? || !@goods_comment.nil? %>
        <%= button_tag method: :patch do %>
          <i class="fa-solid fa-square-caret-down"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<% unless comment.id.nil? %>
  <div class="col-3 offset-1">
    <% if !@room_chat.nil? %>
      <%= link_to "キャンセル", group_room_path(comment.group_room, source: "0"), remote: true, class:"link-dark" %>
    <% elsif !@group_chat.nil? %>
      <%= link_to "キャンセル", group_path(comment.group, source: "0"), remote: true, class:"link-dark" %>
    <% elsif !@game_comment.nil? %>
      <%= link_to "キャンセル", game_review_path(comment.game_review, source: "0"), remote: true, class:"link-dark" %>
    <% elsif !@goods_comment.nil? %>
      <%= link_to "キャンセル", goods_review_path(comment.goods_review, source: "0"), remote: true, class:"link-dark" %>
    <% end %>
  </div>
<% end %>