<div class="row mt-4 pb-4 border-bottom">
  <h2 class="text-center">グループページ</h2>
</div>

<div class="row border-bottom justify-content-center">
  <div class="col-3 border-end p-0">
    <div class="col-12 border-bottom d-flex justify-content-center" id="group-sideber-top">
      <div class="text-start mt-2">
        <h6 class="mt-2">グループメンバー一覧</h6>
        <% @group_members.each do |group_member| %>
          <p class="mt-2">
            <%= link_to member_path(group_member), class:"text-dark" do %>
              <%= group_member.member_name %>
            <% end %>
          </p>
        <% end %>
        <div class="col-12 d-flex justify-content-center mt-2 mb-4">
          <%= paginate @group_members %>
        </div>
      </div>
    </div>
    <div class="col-12 border-bottom pb-4 d-flex justify-content-evenly">
      <% if @group.group_owner_id == current_member.id %>
        <button class="actions col-5 mt-4 btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#groupupdate">
          <a class="fw-bold text-light">グループ編集</a>
        </button>
      <% else %>
        <button class="mt-4 btn btn-danger" type="button">
          <%= link_to "グループ退出", group_group_member_path(@group), method: :delete, class:"fw-bold text-light" %>
        </button>
      <% end %>
      <div class="modal fade" id="groupupdate">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">グループ編集</h5>
              <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <%= form_with model: @group, url: group_path, local: false do |f| %>
              <div class="modal-body">
                <div id="group-update-errors">
                  <%= render "layouts/error_messages", model: f.object %>
                </div>
                <div class="mt-3">
                  <%= f.text_field :group_name, autofocus: true, placeholder: "グループネーム", class:"form-control" %>
                </div>

                <div class="mt-3 pb-3">
                  <%= f.text_field :group_introduction, placeholder: "グループ紹介文", class:"form-control" %>
                </div>
              </div>

              <div class="modal-footer">
                <div class="me-auto">
                  <%= f.submit "グループ編集", class:"btn btn-success text-light" %>
                </div>

                <button class="btn btn-danger" type="button">
                  <%= link_to "グループ解散", group_path(@group), method: :delete, class:"text-light" %>
                </button>

                <div>
                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <button class="actions col-5 mt-4 btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#roomCreate">
        <a class="fw-bold text-light">ルーム作成</a>
      </button>
      <div class="modal fade" id="roomCreate">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">ルーム作成</h5>
              <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <%= form_with model: @group_room, url: group_rooms_path, local: false do |f| %>
              <div id="room-create-errors">
                <%= render "layouts/error_messages", model: f.object %>
              </div>
              <div class="modal-body">
                <div class="mt-3 pb-3">
                  <%= f.text_field :room_name, autofocus: true, placeholder: "ルームネーム", class:"form-control" %>
                </div>
                <%= f.hidden_field :group_id, value: @group.id %>
                <%= f.hidden_field :room_owner_id, value: current_member.id %>
              </div>

              <div class="modal-footer">
                <div class="me-auto">
                  <%= f.submit "ルーム作成", class:"btn btn-info text-light" %>
                </div>

                <div>
                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center" id="group-sideber-top">
      <div class="text-start mt-2">
        <h6 class="mt-2">グループルーム一覧</h6>
        <% @group_rooms.each do |group_room| %>
          <p class="mt-2">
            <%= link_to room_create_group_group_members_path(@group, id: group_room), method: :post, class:"text-dark" do %>
              <%= group_room.room_name %>
            <% end %>
          </p>
        <% end %>
        <div class="col-12 d-flex justify-content-center mt-2 mb-4">
          <%= paginate @group_rooms %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-9 ps-0">
    <div class=" pb-3">
      <div class="col-9 offset-2">
        <div id="group-chats">
          <table class="mt-2 table table-borderless" id="group-comment-index-<%= @group.id %>">
            <%= render "comment", comments: @group_chats %>
          </table>
        </div>
        <div id="group-comment-form-<%= @group.id %>">
          <%= render "comment_form", comment: @group_chat %>
        </div>
      </div>
    </div>
  </div>
</div>