<div class="col-12 ms-5 ps-4 d-flex flex-row flex-wrap">
  <% game_reviews.each do |game_review| %>
    <div class="card col-2 m-3">
      <div class="card-header">
        <%= image_tag game_review.member.get_profile_image(40, 40) %>
        <%= game_review.member.member_name %>
      </div>

      <div class="card-body">
        <div class="card-text">
          <div class="mb-1 text-nowrap overflow-hidden text-truncate">タイトル <%= game_review.game_title %></div>
          <div class="mb-1 text-nowrap overflow-hidden text-truncate">タイトル <%= game_review.game_title %></div>
          <div class="mb-1 text-nowrap overflow-hidden text-truncate">概要 <%= game_review.game_summary %></div>
          <div class="mb-1 text-nowrap overflow-hidden text-truncate">ジャンル <%= game_review.genre.genre_name %></div>
          <div class="mb-1 text-nowrap overflow-hidden text-truncate">
            <% game_review.game_tags.each do |game_tag| %>
              タグ <%= game_tag.game_tag_name %>
            <% end %>
          </div>
          <div class="mb-1 text-nowrap overflow-hidden text-truncate">感想 <%= game_review.game_impression %></div>
          <div class="mb-1 text-nowrap overflow-hidden text-truncate">￥ <%= game_review.game_price.to_s(:delimited) %></div>
          <div>
            評価 <div id="game_review_display<%= game_review.id %>"></div>
            <%= render "public/game_reviews/game_review_display", game_review: game_review %>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex flex-row">
        <div class="col-4">
          <% if !admin_signed_in? %>
            <%= link_to "詳細へ", game_review_path(game_review), class:"link-dark" %>
          <% else %>
            <%= link_to "詳細へ", admin_game_review_path(game_review), class:"link-dark" %>
          <% end %>
        </div>
        <div class="col-6 ms-auto text-end">
          いいね数：<%= game_review.game_likes.count %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="col-12 d-flex justify-content-center mt-2 mb-4">
    <%= paginate game_reviews %>
</div>
