<div class="row mt-4">
  <h2 class="text-center">ゲームレビュー詳細</h2>
  <div class="col-12 border-bottom">
    <a class="ms-5 ms-4">
      <%= link_to game_reviews_path do %>
        ゲームレビュー
      <% end %>
    </a>
    <a class="ms-3">
      <%= link_to goods_reviews_path do %>
        グッズレビュー
      <% end %>
    </a>
  </div>
</div>

<div class="row mt-5 px-5 justify-content-center border-bottom">
  <div class="col-12 ms-5 ps-4 d-flex flex-row flex-wrap">
    <% @game_reviews.each do |game_review| %>
      <div class="card col-2 m-3">
        <div class="card-header">
          <%= image_tag game_review.member.get_profile_image(40, 40) %>
          <%= game_review.member.member_name %>
        </div>

        <div class="card-body">
          <div class="card-text">
            <div>タイトル <%= game_review.game_title %></div>
            <div>概要 <%= game_review.game_summary %></div>
            <div>感想 <%= game_review.game_impression %></div>
            <div>￥ <%= game_review.game_price.to_s(:delimited) %></div>
            <div>
              評価 <div id="review_display<%= game_review.id %>"></div>
              <%= render "review_display", game_review: game_review %>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to "詳細へ", game_review_path(game_review), class:"link-dark" %>
        </div>
      </div>
    <% end %>
  </div>
</div>