<div class="row mt-4">
  <h2 class="text-center">ゲームレビュー一覧</h2>
  <div class="col-12 d-flex flex-row border-bottom" id="sab-nav-link">
    <a class="ms-5 ms-4">
      <%= link_to game_reviews_path do %>
        ゲームレビュー一覧
      <% end %>
    </a>
    <a class="ms-3">
      <%= link_to goods_reviews_path do %>
        グッズレビュー一覧
      <% end %>
    </a>
    <div class="link-dark ms-auto" id ="filtering-layout">
      <button class="actions btn btn-sm" data-bs-toggle="modal" data-bs-target="#filtering">
        <i class="fa-solid fa-filter"></i>
      </button>
      <div class="modal fade" id="filtering">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">絞り込み</h5>
              <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <%= form_with url: game_reviews_path, method: :get do  |f| %>
              <div class="modal-body">
                <div class="mt-3">
                  <%= f.collection_select :search_game_genre, Genre.all, :genre_name, :genre_name, {prompt: "ジャンルを選択してください"}, class:"form-select" %>
                </div>

                <div class="mt-3">
                  <%= f.collection_select :search_game_tag, GameTag.all, :game_tag_name, :game_tag_name, {prompt: "ゲームタグを選択してください"}, class:"form-select" %>
                </div>

                <div class="mt-3">
                  <%= f.select :search_game_rating, [["評価0.5", 0.5], ["評価１", 1], ["評価1.5", 1.5], ["評価2", 2], ["評価2.5", 2.5], ["評価3", 3], ["評価3.5", 3.5], ["評価4", 4], ["評価4.5", 4.5], ["評価5", 5]], {prompt: "評価を選択してください"}, class:"form-select" %>
                </div>

              <div class="modal-footer">
                <div class="me-auto">
                  <%= f.submit "絞り込み", class:"btn btn-success" %>
                </div>

                <div>
                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5 px-5 justify-content-center border-bottom">
  <%= render "index", game_reviews: @game_reviews %>
</div>