<div class="row mt-4 pb-4 border-bottom">
  <h2 class="text-center"><%= @member.member_name %>さんのフォロー一覧</h2>
</div>

<div class="container">
  <div class="row mt-1 pb-5 justify-content-center">
    <div class="col-12">
      <table class="table" id="member-index-table">
        <% @followings.each do |following| %>
          <tr class="align-middle">
            <td class="link-dark">
              <%= link_to member_path(following), class:"link-dark" do %>
                <%= image_tag following.get_profile_image(80, 80), class:"img-thumbnail" %>
                <%= following.member_name %>
              <% end %>
            </td>
            <td><%= following.member_introduction %></td>
            <td>
              <%= link_to followings_member_follows_path(following), class:"text-dark" do %>
                フォロー：<%= following.followings.count %>人<br>
              <% end %>
              <%= link_to followers_member_follows_path(following), class:"text-dark" do %>
                フォロワー：<%= following.followers.count %>人
              <% end %>
            </td>
            <td>
              ゲームレビュー：<%= following.game_reviews.count %>件<br>
              グッズレビュー：<%= following.goods_reviews.count %>件
            </td>
            <td>
              参加グループ：<%= following.groups.count %><br>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>