<% if !@members.nil? %>
  <div class="row mt-4 pb-4 border-bottom">
    <h2 class="text-center">メンバーネームに<%= @word %>が含まれる会員一覧</h2>
  </div>

  <div class="container">
  <% if @members.present? %>
    <%= render "public/members/index", members: @members %>
  <% else %>
    <h6 class="text-center mt-5 pb-5 px-5 border-bottom">
      メンバーが見つかりませんでした。。
    </h6>
  <% end %>
  </div>
<% elsif !@game_reviews.nil? %>
  <div class="row mt-4">
    <h2 class="text-center">タイトルに<%= @word %>が含まれるゲームレビュー一覧</h2>
    <div class="col-12 border-bottom">
      <a class="ms-5 ms-4">
        <%= link_to game_reviews_path do %>
          ゲームレビュー一覧
        <% end %>
      </a>
      <a class="ms-3">
        <%= link_to goods_reviews_path do %>
          グッズレビュー一覧
        <% end %>
      </a>
    </div>
  </div>

  <div class="row mt-5 px-5 justify-content-center border-bottom">
  <% if @game_reviews.present? %>
    <%= render "public/game_reviews/index", game_reviews: @game_reviews %>
  <% else %>
    <h6 class="text-center pb-5">
      ゲームレビューが見つかりませんでした。。
    </h6>
  <% end %>
  </div>
<% elsif !@goods_reviews.nil? %>
  <div class="row mt-4">
    <h2 class="text-center">グッズ名に<%= @word %>が含まれるグッズレビュー一覧</h2>
    <div class="col-12 border-bottom">
      <a class="ms-5 ms-4">
        <%= link_to game_reviews_path do %>
          ゲームレビュー一覧
        <% end %>
      </a>
      <a class="ms-3">
        <%= link_to goods_reviews_path do %>
          グッズレビュー一覧
        <% end %>
      </a>
    </div>
  </div>

  <div class="row mt-5 px-5 justify-content-center border-bottom">
  <% if @goods_reviews.present? %>
    <%= render "public/goods_reviews/index", goods_reviews: @goods_reviews %>
  <% else %>
    <h6 class="text-center pb-5">
      グッズレビューが見つかりませんでした。。
    </h6>
  <% end %>
  </div>
<% end %>