<% if !@members.nil? %>
  <div class="row mt-4 pb-4 border-bottom">
    <h2 class="text-center">会員一覧</h2>
  </div>

  <div class="container">
    <div class="row mt-1 pb-5 justify-content-center">
      <div class="col-12">
        <table class="table" id="member-index-table">
          <% @members.each do |member| %>
            <tr class="align-middle">
              <td class="link-dark">
                <%= link_to member_path(member), class:"link-dark" do %>
                  <%= image_tag member.get_profile_image(80, 80), class:"img-thumbnail" %>
                  <%= member.member_name %>
                <% end %>
              </td>
              <td><%= member.member_introduction %></td>
              <td>
                <%= link_to followings_member_follows_path(member), class:"text-dark" do %>
                  フォロー：<%= member.followings.count %>人<br>
                <% end %>
                <%= link_to followers_member_follows_path(member), class:"text-dark" do %>
                  フォロワー：<%= member.followers.count %>人
                <% end %>
              </td>
              <td>
                ゲームレビュー：<%= member.game_reviews.count %>件<br>
                グッズレビュー：<%= member.goods_reviews.count %>件
              </td>
              <td>
                参加グループ：<%= member.groups.count %><br>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% elsif !@game_reviews.nil? %>
  <div class="row mt-4">
    <h2 class="text-center">ゲームレビュー一覧</h2>
    <div class="col-12 border-bottom">
      <a class="ms-5 ms-4">
        <%= link_to game_reviews_path do %>
          ゲームレビュー一覧
        <% end %>
      </a>
      <a class="ms-3">
        <%= link_to goods_reviews_path do %>
          グッズレビュー一覧
        <% end %>
      </a>
    </div>
  </div>

  <div class="row mt-5 px-5 justify-content-center border-bottom">
    <div class="col-12 ms-5 ps-4 d-flex flex-row flex-wrap">
      <% @game_reviews.each do |game_review| %>
        <div class="card col-2 m-3">
          <div class="card-header">
            <%= image_tag game_review.member.get_profile_image(40, 40) %>
            <%= game_review.member.member_name %>
          </div>

          <div class="card-body">
            <div class="card-text">
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">タイトル <%= game_review.game_title %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">概要 <%= game_review.game_summary %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">ジャンル <%= game_review.genre.genre_name %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">
                <% game_review.game_tags.each do |game_tag| %>
                  タグ <%= game_tag.game_tag_name %>
                <% end %>
              </div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">感想 <%= game_review.game_impression %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">￥ <%= game_review.game_price.to_s(:delimited) %></div>
              <div>
                評価 <div id="review_display<%= game_review.id %>"></div>
                <%= render "public/game_reviews/review_display", game_review: game_review %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to "詳細へ", game_review_path(game_review), class:"link-dark" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% elsif !@game_genre.nil? %>
  <div class="row mt-4">
    <h2 class="text-center">ゲームレビュー一覧</h2>
    <div class="col-12 border-bottom">
      <a class="ms-5 ms-4">
        <%= link_to game_reviews_path do %>
          ゲームレビュー一覧
        <% end %>
      </a>
      <a class="ms-3">
        <%= link_to goods_reviews_path do %>
          グッズレビュー一覧
        <% end %>
      </a>
    </div>
  </div>

  <div class="row mt-5 px-5 justify-content-center border-bottom">
    <div class="col-12 ms-5 ps-4 d-flex flex-row flex-wrap">
      <% @game_genre.game_reviews.each do |game_review| %>
        <div class="card col-2 m-3">
          <div class="card-header">
            <%= image_tag game_review.member.get_profile_image(40, 40) %>
            <%= game_review.member.member_name %>
          </div>

          <div class="card-body">
            <div class="card-text">
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">タイトル <%= game_review.game_title %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">概要 <%= game_review.game_summary %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">
                <% game_review.game_tags.each do |game_tag| %>
                  タグ <%= game_tag.game_tag_name %>
                <% end %>
              </div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">感想 <%= game_review.game_impression %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">￥ <%= game_review.game_price.to_s(:delimited) %></div>
              <div>
                評価 <div id="review_display<%= game_review.id %>"></div>
                <%= render "public/game_reviews/review_display", game_review: game_review %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to "詳細へ", game_review_path(game_review), class:"link-dark" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% elsif !@goods_reviews.nil? %>
  <div class="row mt-4">
    <h2 class="text-center">ゲームレビュー一覧</h2>
    <div class="col-12 border-bottom">
      <a class="ms-5 ms-4">
        <%= link_to game_reviews_path do %>
          ゲームレビュー一覧
        <% end %>
      </a>
      <a class="ms-3">
        <%= link_to goods_reviews_path do %>
          グッズレビュー一覧
        <% end %>
      </a>
    </div>
  </div>

  <div class="row mt-5 px-5 justify-content-center border-bottom">
    <div class="col-12 ms-5 ps-4 d-flex flex-row flex-wrap">
      <% @goods_reviews.each do |goods_review| %>
        <div class="card col-2 m-3">
          <div class="card-header">
            <%= image_tag goods_review.member.get_profile_image(40, 40) %>
            <%= goods_review.member.member_name %>
          </div>

          <div class="card-body">
            <div class="card-text">
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">グッズネーム <%= goods_review.goods_name %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">概要 <%= goods_review.goods_summary %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">
                <% goods_review.goods_tags.each do |goods_tag| %>
                  タグ <%= goods_tag.goods_tag_name %>
                <% end %>
              </div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">感想 <%= goods_review.goods_impression %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">￥ <%= goods_review.goods_price.to_s(:delimited) %></div>
              <div>
                評価 <div id="review_display<%= goods_review.id %>"></div>
                <%= render "public/goods_reviews/review_display", goods_review: goods_review %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to "詳細へ", goods_review_path(goods_review), class:"link-dark" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% elsif !@game_tag.nil? %>
  <div class="row mt-4">
    <h2 class="text-center">ゲームレビュー一覧</h2>
    <div class="col-12 border-bottom">
      <a class="ms-5 ms-4">
        <%= link_to game_reviews_path do %>
          ゲームレビュー一覧
        <% end %>
      </a>
      <a class="ms-3">
        <%= link_to goods_reviews_path do %>
          グッズレビュー一覧
        <% end %>
      </a>
    </div>
  </div>

  <div class="row mt-5 px-5 justify-content-center border-bottom">
    <div class="col-12 ms-5 ps-4 d-flex flex-row flex-wrap">
      <% @game_tag.game_reviews.each do |game_review| %>
        <div class="card col-2 m-3">
          <div class="card-header">
            <%= image_tag game_review.member.get_profile_image(40, 40) %>
            <%= game_review.member.member_name %>
          </div>

          <div class="card-body">
            <div class="card-text">
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">タイトル <%= game_review.game_title %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">概要 <%= game_review.game_summary %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">ジャンル <%= game_review.genre.genre_name %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">
                タグ
                <% game_review.game_tags.each do |game_tag| %>
                  <%= game_tag.game_tag_name %>
                <% end %>
              </div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">感想 <%= game_review.game_impression %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">￥ <%= game_review.game_price.to_s(:delimited) %></div>
              <div>
                評価 <div id="review_display<%= game_review.id %>"></div>
                <%= render "public/game_reviews/review_display", game_review: game_review %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to "詳細へ", game_review_path(game_review), class:"link-dark" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% elsif !@goods_tag.nil? %>
  <div class="row mt-4">
    <h2 class="text-center">ゲームレビュー一覧</h2>
    <div class="col-12 border-bottom">
      <a class="ms-5 ms-4">
        <%= link_to game_reviews_path do %>
          ゲームレビュー一覧
        <% end %>
      </a>
      <a class="ms-3">
        <%= link_to goods_reviews_path do %>
          グッズレビュー一覧
        <% end %>
      </a>
    </div>
  </div>

  <div class="row mt-5 px-5 justify-content-center border-bottom">
    <div class="col-12 ms-5 ps-4 d-flex flex-row flex-wrap">
      <% @goods_tag.goods_reviews.each do |goods_review| %>
        <div class="card col-2 m-3">
          <div class="card-header">
            <%= image_tag goods_review.member.get_profile_image(40, 40) %>
            <%= goods_review.member.member_name %>
          </div>

          <div class="card-body">
            <div class="card-text">
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">グッズネーム <%= goods_review.goods_name %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">概要 <%= goods_review.goods_summary %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">
                タグ
                <% goods_review.goods_tags.each do |goods_tag| %>
                  <%= goods_tag.goods_tag_name %>
                <% end %>
              </div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">感想 <%= goods_review.goods_impression %></div>
              <div class="mb-1 text-nowrap overflow-hidden text-truncate">￥ <%= goods_review.goods_price.to_s(:delimited) %></div>
              <div>
                評価 <div id="review_display<%= goods_review.id %>"></div>
                <%= render "public/goods_reviews/review_display", goods_review: goods_review %>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to "詳細へ", goods_review_path(goods_review), class:"link-dark" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>