<div class="row mt-4">
  <h2 class="text-center">グッズレビュー</h2>
  <div class="col-12 border-bottom">
    <a class="ms-5 ms-4">
      <%= link_to new_game_review_path do %>
        ゲームレビュー
      <% end %>
    </a>
    <a class="ms-3">
      <%= link_to new_goods_review_path do %>
        グッズレビュー
      <% end %>
    </a>
  </div>
</div>

<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-7 pb-5 border-bottom">
      <%= form_with model: @goods_review do |f| %>
        <%= render "layouts/error_messages", model: f.object %>
        <table class="table table-borderless">
          <tr>
            <th>
              <%= f.label :グッズ名%>
            </th>
            <td>
              <%= f.text_field :goods_name, autofocus: true, autocomplete: "goods_title", placeholder: "グッズ名", class:"form-control" %>
            </td>
          </tr>

          <tr>
            <th>
              <%= f.label :概要 %>
            </th>
            <td>
              <%= f.text_area :goods_summary, autocomplete: "goods_summary", placeholder: "概要", class:"form-control" %>
            </td>
          </tr>

          <tr>
            <th>
              <%= f.label :タグ %>
            </th>
            <td>
              <%= f.text_field :goods_tag_name, autocomplete: "goods_tag_name", placeholder: "空白を空ける事で複数登録出来ます", class:"form-control" %>
            </td>
          </tr>

          <tr>
            <th>
              <%= f.label :感想 %>
            </th>
            <td>
              <%= f.text_area :goods_impression, autocomplete: "goods_impression", placeholder: "感想", class:"form-control" %>
            </td>
          </tr>

          <tr>
            <th>
              <%= f.label :￥  %>
            </th>
            <td>
              <%= f.number_field :goods_price, autocomplete: "goods_price", placeholder: "値段", class:"form-control" %>
            </td>
          </tr>

          <tr>
            <th>
              <%= f.label :評価  %>
            </th>
            <td>
              <div class="form-group row" id="goods_review">
                <%= f.hidden_field :goods_rating, id: :review_star %>
              </div>
              <%= render "goods_review" %>
            </td>
          </tr>
        </table>

        <div class="actions mt-4 text-center">
          <%= f.submit "投稿", class:"btn btn-info btn-lg link-light fw-bold btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>