<div class="row mt-4 pb-4 border-bottom">
  <h2 class="text-center">グッズレビュー詳細</h2>
</div>

<div class="row mt-5 justify-content-center border-bottom">
  <div class="col-6 pb-5">
    <table class="table table-borderless">
      <tr>
        <th>投稿者</th>
        <td>
          <%= @goods_review.member.member_name %>
        </td>
      </tr>

      <tr>
        <th>タイトル</th>
        <td>
          <%= @goods_review.goods_name %>
        </td>
      </tr>

      <tr>
        <th>概要</th>
        <td>
          <%= @goods_review.goods_summary %>
        </td>
      </tr>

      <tr>
        <th>タグ</th>
        <td>
          <% @goods_tags.each do |goods_tag| %>
            <%= goods_tag.goods_tag_name %>
          <% end %>
        </td>
      </tr>

      <tr>
        <th>感想</th>
        <td>
          <%= @goods_review.goods_impression %>
        </td>
      </tr>

      <tr>
        <th>￥</th>
        <td>
          <%= @goods_review.goods_price.to_s(:delimited) %>
        </td>
      </tr>

      <tr>
        <th>評価</th>
        <td>
          <div id="goods_review_display<%= @goods_review.id %>">
          </div>
          <%= render "goods_review_display", goods_review: @goods_review %>
        </td>
      </tr>
    </table>

    <div class="row d-flex justify-content-evenly">
      <% if member_signed_in? %>
        <div class="col-2 mt-4 text-center">
          <div id="goods-like-icon">
            <%= render "like_icon", goods_review: @goods_review %>
          </div>
        </div>

        <% if @goods_review.member_id == current_member.id %>
          <button class="actions col-2 mt-4 btn btn btn-danger btn-lg">
            <%= link_to "削除", goods_review_path(@goods_review), method: :delete, class:"text-light" %>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-7 pb-5 border-bottom">
    <div id="goods-comment-form-<%= @goods_review.id %>">
      <%= render "public/groups/comment_form", comment: @goods_comment %>
    </div>

    <table class="mt-3 table table-borderless" id="goods-comment-index-<%= @goods_review.id %>">
      <%= render "public/groups/comment", comments: @goods_comments %>
    </table>
  </div>
</div>