<nav class="navbar navbar-light  border-bottom mt-3 pb-0 d-flex flex-column">
  <div class="col-11">
    <a class="p-0 navbar-brand" href="/admin">
      <h1 class="text-center">Gamers</h1>
    </a>
  </div>

  <div class="col-11 mt-3 d-flex flex-row justify-content-start">
    <div class="col-4">
      <ul class="d-flex flex-row list-unstyled">
        <li class="nav-link">
          <%= link_to "ジャンル一覧・登録", admin_genres_path, class:"text-decoration-none link-dark" %>
        </li>
        <div class="vr"></div>
        <li class="nav-link">
          <%= link_to "会員一覧", admin_members_path, class:"text-decoration-none link-dark" %>
        </li>
        <div class="vr"></div>
        <li class="nav-link">
          <%= link_to "レビュー一覧", admin_game_reviews_path, class:"text-decoration-none link-dark" %>
        </li>
        <div class="vr"></div>
        <li class="nav-link">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"text-decoration-none link-dark" %>
        </li>
      </ul>
    </div>

    <div class="col ms-auto">
      <div class="d-flex flex-row justify-content-end">
        <div class="nav-link">
          <div class="link-dark">
            <button class="actions btn btn-sm" data-bs-toggle="modal" data-bs-target="#search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <div class="modal fade" id="search">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">検索</h5>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <%= form_with url: admin_searchs_path, method: :get do  |f| %>
                    <div class="modal-body">
                      <div class="mt-3">
                        <%= f.search_field :search_member, placeholder: "メンバーネーム", class:"form-control" %>
                      </div>

                      <div class="mt-3">
                        <%= f.search_field :search_game_review, placeholder: "ゲームタイトル", class:"form-control" %>
                      </div>

                      <div class="mt-3">
                        <%= f.search_field :search_goods_review, placeholder: "グッズ名", class:"form-control" %>
                      </div>

                    <div class="modal-footer">
                      <div class="me-auto">
                        <%= f.submit "検索", class:"btn btn-success" %>
                      </div>

                      <div>
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>